body {
  background-color: lightblue;
}

h1.header {
  color: red;
}

.content h3 {
  text-align: center;
  font-size: 24px;
}

.content p.text {
  text-decoration: underline;
}

.news {
  background-color: lightcoral;
}

.news__content {
  background-color: red;
}

.blog {
  background-color: lightgreen;
}

.blog__header {
  color: white;
}

.news__button--danger {
  background-color: red;
}

.news__button--success {
  background-color: green;
}


.article h2 {
  text-align: center;
}

.article p {
  background-color: gold;
}

.article button {
  /* some styles in here */
}

.article img {
  /* some styles in here */
}