h1 {
  /* 1em = 16px */
  font-size: 3em;
}

/* .box-model {
    height: 100px;
    margin: 20px;
    padding: 20px;
    width: 400px;
    border: 6px solid #949599;
} */

/* components box model are: width, height, padding, margin and border */

.box3 {
  padding: 40px;
  width: 400px;
  height: 400px;
  background-color: #d4be5c;
  /* margin: 50px; */
  /* color: #f33; */
  /* border: 20px double; */
  border-width: 20px;
  border-style: double;
  border-color: #19e352;
  /* border-radius: 200px; */
  border-radius: 50%;
}

.box1 {
  color: #fff;
  /* width = 440px, height = 440px */
  width: 400px;
  height: 400px;
  background-color: #9b759e;
  /* top right bottom left */
  /* padding: 20px 20px 20px 20px; */
  padding: 20px;
  /* padding: 30px 20px 0px 100px; */
  /* padding: 30px 10px 30px 10px; /* = padding: 30px 10px; */
  /* padding: 20px; */
  /* padding-right: 30px; */
  /* padding-left: 50px;
  padding-top: 40px;
  padding: 40px 0 0 50px; */
}

.box2 {
  color: #fff;
  width: 400px;
  height: 400px;
  background-color: #19e352;
  /* margin: 20px; */
  /* margin: 20px 20px 20px 20px; */
  /* margin: 30px 10px 0 100px; */
  /* margin: 25px 10px;  */
  margin-top: 20px;
  margin-left: 200px;
}
