body {
  background-color: lightblue;
}

h1.header {
  /* color: red; */
  /* 0 255 = 00 ff */
  /* red green blue */
  /* #ff2255 */
  /* color: #ff00ff; 
  background-color: #ffffff; */
  /* 0 to 1 */
  /* display: none; */
  /* opacity: 0.25; */
  /* RGB */
  /* color: #ff0000;
  color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0); */
  /* color: rgba(23, 140, 100, 1);
  background-color: rgba(0,0,0,0.5); */
  /* hue saturation and lightness */
  /* background-color: hsl(240, 75%, 90%); */
  /* background-color: hsla(120, 100%, 50%, 0.5); */
  /* color: #ff0000; */
  /* opacity: 0.5; */
  /* color: rgba(255, 0, 0, 0.5); */
  color: rgb(24, 214, 52);
}
